@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    --main-font: 'Open Sans', sans-serif;
}

body {
    font-family: var(--main-font);
}

.btn-primary {
    background-color: #4a8394;
    border: none;
}

.btn-primary:hover {
    background-color: #5c94a5;
}

.btn-primary:active,
.btn-primary:focus {
    background-color: #4a8394 !important
}

.fw-bold {
    font-weight: 600 !important;
}

.fw-bolder {
    font-weight: 700 !important;
}

.breadcrumb-item {
    font-size: 16px !important;
}

.form-control,
.input-group {
    width: 250px;
}